<table class="zui-table zui-table-rounded col-md-12 table-striped">
    <thead class="col-md-12">
        <tr>
            <th>Imagen</th>
            <th >Id</th>
            <th >Titulo</th>
            <th><div style="float: right; margin-right: 20%">Acciones</div></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img style = "height: 10%" src="../../../../assets/imgs/t_01.PNG"></td>
            <td>1</td>
            <td>Pocion de vida</td>
            <td>
                <div style="float: right; margin-right: 10%">
                        <button type="button" class="btn btn-primary boton">Ver</button>
                        <button type="button" class="btn btn-success boton">Editar</button>
                        <button type="button" class="btn btn-danger boton">Eliminar</button></div>
                </td>
        </tr>
    </tbody>
</table>
