<div class="table-responsive table-bordered table-hover table-condensed" >
    <table class="table">
      <thead style="background-color:green">
        <tr class="text-center">
          <th class="text-center" scope="col">id</th>
          <th class="text-center" scope="col">Titulo</th>
          <th class="text-center" scope="col">Imagen</th>
          <th class="text-center" scope="col">Descripcion</th>
          <th class="text-center" scope="col">Opciones</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pocion of pociones" class="text-center">
          <th class="text-center">{{pocion.id}}</th>
          <td class="text-center">{{pocion.titulo}}</td>
          <td class="text-center"><img class="img-responsive" style="width:3em;"src="./../../../../assets/imgs/t_01.PNG"></td>
          <td class="text-center">{{pocion.descripcion}}</td>
          <td *ngIf="botones" class="text-center">
              <button routerLink="/pociones/{{pocion.id}}" class="btn btn-success">Ver</button>
              <button routerLink="/pociones/crear/{{pocion.id}}" class="btn btn-primary">Editar</button></td>
      </tbody>
    </table>
  </div>
