.epic{
    width: 6em;
    height: 6em;
}

.volver{
    position: relative;
    float: right;
    margin-top: 20%;
}

.fondete{
    background-image: url(./../../../../assets/imgs/fondo-jumbotron.png);
    
}