<div class="container">
    <h1>Pocion Form</h1>
    <form #PocionForm="ngForm">
      <div class="form-group">
        <label for="name">Titulo</label>
        <input type="text" class="form-control" [(ngModel)]="pocion.titulo" name="titulo" id="titulo" required>
      </div>

      <div class="form-group">
        <label for="alterEgo">Descripcion</label>
        <input type="text" class="form-control" [(ngModel)]="pocion.descripcion" name="descripcion" id="titulo" required id="alterEgo">
      </div>
     
      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="pocion.esEpica" name="esEpica" id="esEpica">
          <label class="custom-control-label" for="defaultUnchecked">Epica</label>
      </div>

      <button type="submit" routerLink="/pociones" class="btn btn-primary">cancelar</button>
      <button type="submit" (click)="eliminar()" class="btn btn-danger">borrar</button>
      <button type="submit" (click)="enviar()" class="btn btn-success">enviar</button>

    </form>
</div>